{{#> "layouts/dashboard"}}

{{#*inline "meta"}}
<title>ECommerce</title>
{{/inline}}

{{#*inline "content"}}
<section class="w-full">
  <div class="flex justify-between">
    <h1 class="text-3xl font-bold">Barang</h1>
    <a href="/dashboard/product/new" class="btn btn-primary">+ Tambah Barang</a>
  </div>

  <div class="mt-10 space-y-4">
    {{#each products}}
    <div class="card card-side bg-base-200 border border-base-300 shadow-sm items-center">
      <div class="p-10">
        <figure class="w-60 aspect-[4/3] rounded-xl overflow-hidden">
          <img class="object-cover" src="{{this.image}}" alt="Album" />
        </figure>
      </div>
      <div class="card-body">
        <div class="mb-5 space-y-2">
          <h2 class="card-title">{{this.name}}</h2>
          <div class="badge badge-soft badge-accent">{{this.category.name}}</div>
        </div>
        <div class="space-y-1">
          <h3 class="text-2xl font-bold">Rp. {{this.price}}</h3>
          <div class="mt-5">
            <p><span class="font-semibold">Dibuat pada:</span> {{formatDate this.createdAt}}</p>
            <p><span class="font-semibold">Terakhir diperbarui:</span> {{formatDate this.updatedAt}}</p>
          </div>
        </div>
        <div class="card-actions justify-end">
          <a href="/dashboard/product/{{this._id}}/edit" class="btn btn-secondary">Edit</a>
          <a href="/dashboard/product/{{this._id}}" class="btn btn-primary">Detail</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</section>
{{/inline}}

{{#*inline "script"}}
{{/inline}}

{{/"layouts/dashboard"}}