<div class="flex gap-5">
  <figure class="w-20 aspect-[4/3] rounded-xl overflow-hidden">
    <img class="object-cover" src="{{product.image}}" alt="{{product.name}}" />
  </figure>
  <div>
    <h3 class="font-bold text-lg">{{product.name}}</h3>
    <p class="text-base-content/60">{{quantity}} x Rp. {{product.price}}</p>
  </div>
</div>