{{#> "layouts/dashboard"}}

{{#*inline "meta"}}
<title>Detail Pesanan | Dashboard</title>
{{/inline}}

{{#*inline "content"}}
<section class="w-full">
  <div class="flex justify-between">
    <h1 class="text-3xl font-bold">Detail Pesanan</h1>
    <a href="/dashboard/order" class="btn btn-primary btn-outline">Kembali</a>
  </div>
  <div class="divider"></div>
  <div class="mt-5 space-y-3">
    {{> "commons/alert"}}
    <div class="flex justify-between">
      <p class="text-base-content/50">ID Transaksi</p>
      <p class="text-primary font-bold">{{transaction._id}}</p>
    </div>
    <div class="flex justify-between">
      <p class="text-base-content/50">Tanggal Transaksi</p>
      <p>{{formatDate transaction.createdAt}}</p>
    </div>
    <div class="flex justify-between">
      <p class="text-base-content/50">Status Transaksi</p>
      {{#if (eq transaction.status "pending")}}
      <div class="badge badge-warning">Menunggu</div>
      {{else if (eq transaction.status "completed")}}
      <div class="badge badge-success">Sukses</div>
      {{else if (eq transaction.status "cancelled")}}
      <div class="badge badge-error">Dibatalkan</div>
      {{/if}}
    </div>
  </div>

  <div class="mt-10 p-5 bg-base-200 rounded-xl">
    <h3 class="font-bold text-lg">Info Pembeli</h3>
    <div class="space-y-5 mt-5">
      <div class="flex justify-between gap-5">
        <div class="space-y-2">
          <p class="text-base-content/50">Nama</p>
          <p class="">{{transaction.user.profile.full_name}}</p>
        </div>
        <div class="space-y-2">
          <p class="text-base-content/50">Email</p>
          <p class="">{{transaction.user.email}}</p>
        </div>
        <div class="space-y-2">
          <p class="text-base-content/50">No. Telepon</p>
          <p class="">{{transaction.user.profile.phone}}</p>
        </div>
      </div>
      <div class="space-y-2">
        <p class="text-base-content/50">Alamat</p>
        <p class="">{{transaction.user.profile.address}}</p>
      </div>
    </div>
  </div>

  <div class="mt-10 p-5 bg-base-200 rounded-xl">
    <h3 class="font-bold text-lg">Pembayaran</h3>
    <div class="mt-5 flex gap-5">
      <div class="flex flex-col gap-5 justify-between w-2/5">
        <div class="space-y-3">
          <div class="space-y-2">
            <p class="text-base-content/50">Total Pembayaran</p>
            <p class="font-bold">Rp. {{transaction.total_price}}</p>
          </div>
          <div class="space-y-2">
            <p class="text-base-content/50">Tanggal Pembayaran</p>
            {{#unless (eq transaction.payment.status "pending")}}
            <p>{{formatDate transaction.payment.createdAt}}</p>
            {{else}}
            <p class="text-base-content/50">Belum Dibayar</p>
            {{/unless}}
          </div>
          <div class="space-y-2">
            <p class="text-base-content/50">Status Transaksi</p>
            {{#if (eq transaction.payment.status "pending")}}
            <div class="badge badge-warning">Menunggu</div>
            {{else if (eq transaction.payment.status "paid")}}
            <div class="badge badge-success badge-outline">Dibayar</div>
            {{else if (eq transaction.payment.status "accepted")}}
            <div class="badge badge-success">Diterima</div>
            {{else if (eq transaction.payment.status "invalid")}}
            <div class="badge badge-error">Tidak Valid</div>
            {{else if (eq transaction.payment.status "returned")}}
            <div class="badge badge-info">Dikembalikan</div>
            {{/if}}
          </div>
        </div>
        {{#unless (or (eq transaction.payment.status "accepted") (eq transaction.payment.status "returned") )}}
        <div class="space-y-2">
          {{#unless (or (eq transaction.payment.status "invalid") (eq transaction.payment.status "pending"))}}
          <p class="text-xs italic text-base-content/50">
            *Jika pembayaran tidak sesuai, klik tombol di bawah ini untuk menandai pembayaran sebagai invalid. Setelah
            itu, pembeli akan diberitahu untuk melakukan pembayaran ulang.
          </p>
          <form action="/dashboard/payment/{{transaction._id}}/invalid" method="POST">
            <button type="submit" class="btn btn-error w-full justify-self-end">Pembayaran Invalid</button>
          </form>
          <form action="/dashboard/payment/{{transaction._id}}/accept" method="POST">
            <button type="submit" class="btn btn-success w-full justify-self-end">Terima Pembayaran</button>
          </form>
          {{/unless}}
        </div>
        {{/unless}}
      </div>
      <div class="w-3/5 space-y-3">
        <p class="text-base-content/50">Bukti Pembayaran</p>
        {{#if (eq transaction.payment.status "pending")}}
        <div role="alert" class="alert alert-info alert-dash">
          <span>Menunggu bukti pembayaran</span>
        </div>
        {{else}}
        {{#if (eq transaction.payment.status "invalid")}}
        <div role="alert" class="alert alert-warning alert-dash">
          <span>
            *Bukti pembayaran berikut adalah bukti pembayaran lama, sedang menunggu pembeli untuk mengunggah bukti
            kembali
          </span>
        </div>
        {{/if}}
        <img src="{{transaction.payment.payment_proof}}" class="w-full rounded-xl" alt="payment proof">
        {{/if}}
      </div>
    </div>
  </div>
  <div class="mt-10 p-5 bg-base-200 rounded-xl">
    <h3 class="font-bold text-lg">Produk</h3>
    <div class="mt-5 space-y-3">
      {{#each transaction.orders}}
      <div class="flex items-start gap-3">
        <img src="{{this.product.image}}" alt="{{this.product.name}}" class="w-20 h-20 object-cover rounded">
        <div>
          <h4 class="font-semibold text-lg">{{this.product.name}}</h4>
          <p class="text-sm text-base-content/60">{{this.quantity}} x Rp {{this.product.price}}</p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="divider"></div>
  <div class="text-right">
    <div class="space-y-2">
      <h3 class="text-lg text-base-content/60">Total Pembayaran</h3>
      <h5 class="text-2xl font-bold">Rp. {{transaction.total_price}}</h5>
    </div>
  </div>
  {{#unless (or (eq transaction.status "completed") (eq transaction.status "cancelled") )}}
  <div class="divider">Aksi</div>
  <div class="flex gap-3 justify-end">
    {{#unless (eq transaction.status "cancelled")}}
    <form action="/dashboard/order/{{transaction._id}}/cancel" method="POST">
      <button class="btn btn-error">Batalkan Pesanan</button>
    </form>
    {{/unless}}
    {{#if (eq transaction.payment.status "accepted")}}
    <form action="/dashboard/order/{{transaction._id}}/complete" method="POST">
      <button class="btn btn-primary">Terima Pesanan</button>
    </form>
    {{/if}}
  </div>
  {{/unless}}
</section>
{{/inline}}

{{#*inline "script"}}
{{/inline}}

{{/"layouts/dashboard"}}