{{#> "layouts/dashboard"}}

{{#*inline "meta"}}
<title>ECommerce</title>
{{/inline}}

{{#*inline "content"}}
<section class="w-full">
  <h1 class="text-3xl font-bold">Profil Pengguna</h1>
  <div class="mt-10 bg-base-200 p-10 rounded-xl">
    <form action="/dashboard/profile" method="POST" class="space-y-3">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Nama</legend>
        <input type="text" value="{{profile.full_name}}" name="full_name" class="input w-full"
          placeholder="Masukkan nama lengkap" />
        {{> "forms/field_error" field_name="full_name"}}
      </fieldset>
      <fieldset class="fieldset">
        <legend class="fieldset-legend">No. Telepon</legend>
        <input type="text" value="{{profile.full_name}}" name="phone" class="input w-full"
          placeholder="Masukkan nomor telepon" />
        {{> "forms/field_error" field_name="phone"}}
      </fieldset>
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Alamat</legend>
        <textarea name="address" class="textarea w-full" placeholder="Masukkan alamat">{{profile.address}}</textarea>
        {{> "forms/field_error" field_name="address"}}
      </fieldset>
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Tanggal Lahir</legend>
        <input type="date" name="date_of_birth" class="input w-full" value="{{profile.date_of_birth}}" />
        {{> "forms/field_error" field_name="date_of_birth"}}
      </fieldset>
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Jenis Kelamin</legend>
        <select class="select w-full" value="{{profile.gender}}" name="gender">
          <option disabled selected>Pilih</option>
          <option value="male">Laki - laki</option>
          <option value="female">Perempuan</option>
        </select>
        {{> "forms/field_error" field_name="gender"}}
      </fieldset>
      {{> "commons/alert"}}
      <div class="text-right">
        <button class="btn btn-primary w-xs">Simpan</button>
      </div>
    </form>
  </div>
</section>
{{/inline}}

{{#*inline "script"}}
{{/inline}}

{{/"layouts/dashboard"}}